/* stili generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
}

/* stili pagina */

#up {
    height: 70px;
    line-height: 70px;
    background-color: white;
}

#up1{
    margin-left: 20px;
}

.centramento {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.content {
    background-color: white;
    width: 70%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border-bottom: 2px solid rgb(245, 245, 245);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.content1 {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.distance {
    margin: 0 50px;
    height: 50px;
}

.distance1 {
    margin: 0 50px;
    padding-top: 20px;
}

#button-task {
    background-color: rgb(98, 195, 255);
    color: white;
    padding: 5px;
    border-radius: 7px;

}

#button-section {
    background-color: white;
    color: rgb(205, 205, 205);
    padding: 5px;
    margin-left: 10px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 7px;
}

.tendina::before{
    content: "\25BC";
}

.tendina{
    margin-bottom: 10px;
}

.spunta::before{
    content: "\2705";
}

.croce::before{
    content: "\274C";
}

.schede {
    padding-bottom: 35px;
}

.task {
    padding-bottom: 22px;
}

.lable {
    border-radius: 12px;
    color: white;
    padding: 5px;
    margin-left: 5px;
}

.lable-blue {
    background-color: lightskyblue;
}

.lable-violet {
    background-color: rgb(184, 107, 220);
}

.lable-green {
    background-color: rgb(91, 207, 91);
}

.lable-orange {
    background-color: orange;
}

.lable-pink {
    background-color: rgb(205, 76, 147);
}

.lable-lightgreen {
    background-color: rgb(143, 211, 41);
}